.rupor {
    width: 30px;
}

.rupor2 {
    width: 80px;
}

.views {
    padding: 0.375rem 0.2rem;
    background-color: rgb(230, 230, 230);
}

footer {
    min-height: 35vh;
}

.account {
    margin-top: 25%;
}

.account img {
    margin-top: -25px;
}